@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Oswald|Rubik+Mono+One&display=swap");
.wrapper {
  display: grid;
  text-align: center;
  margin: auto;
  justify-content: center;
  grid-template-rows: 100px 100px 200px;
  grid-template-columns: 200px 150px 200px;
  grid-template-areas: 'title title title' 'break controls session' 'timer timer timer';
  grid-gap: 10px;
  background-image: url("https://previews.123rf.com/images/zzorik/zzorik1604/zzorik160400033/54465712-seamless-background-with-tomatoes-and-basil-for-cooking-seamless-backdrop.jpg");
}
.wrapper #title {
  grid-area: title;
  border-style: solid;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 40px;
  line-height: 100px;
  color: #FF6347;
  border-color: black;
  background-color: white;
}
.wrapper #break-box {
  grid-area: break;
  border-style: solid;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'label label label' 'up time down';
  border-color: #FF6347;
  background-color: white;
}
.wrapper #break-box #break-label {
  grid-area: label;
  font-family: 'Oswald', sans-serif;
  line-height: 50px;
  font-size: 30px;
}
.wrapper #break-box #break-increment {
  grid-area: up;
  position: relative;
  font-size: 37px;
  bottom: 3px;
}
.wrapper #break-box #break-number {
  grid-area: time;
  line-height: 30px;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}
.wrapper #break-box #break-decrement {
  grid-area: down;
  position: relative;
  font-size: 37px;
  bottom: 3px;
}
.wrapper #session-box {
  grid-area: session;
  border-style: solid;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'label label label' 'up time down';
  border-color: #FF6347;
  background-color: white;
}
.wrapper #session-box #session-label {
  grid-area: label;
  font-family: 'Oswald', sans-serif;
  line-height: 50px;
  font-size: 30px;
}
.wrapper #session-box #session-increment {
  grid-area: up;
  position: relative;
  font-size: 37px;
  bottom: 3px;
}
.wrapper #session-box #session-number {
  grid-area: time;
  line-height: 30px;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}
.wrapper #session-box #session-decrement {
  grid-area: down;
  position: relative;
  font-size: 37px;
  bottom: 3px;
}
.wrapper #controls-box {
  grid-area: controls;
  border-style: solid;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'label label' 'pause restart';
  align-items: center;
  background-color: white;
}
.wrapper #controls-box #controls-label {
  grid-area: label;
  font-family: 'Oswald', sans-serif;
  line-height: 50px;
  font-size: 30px;
}
.wrapper #controls-box #controls-pause {
  grid-area: pause;
  font-size: 23px;
}
.wrapper #controls-box #controls-restart {
  grid-area: restart;
  font-size: 23px;
}
.wrapper #timer-box {
  grid-area: timer;
  border-style: solid;
  display: grid;
  grid-template-rows: 1f 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: white;
}
.wrapper #timer-box #timer-label {
  font-family: 'Fjalla One', sans-serif;
  font-size: 50px;
  letter-spacing: 3px;
}
.wrapper #timer-box #timer-time {
  font-family: 'Fjalla One', sans-serif;
  font-size: 50px;
}